<h1>Select a house to search</h1>

<div class="dropdown-search">
  <p><%= link_to "Greyjoy", search_path(house: 'greyjoy') %></p>
  <p><%= link_to "Stark", search_path(house: 'stark') %></p>
  <p><%= link_to "Lannister", search_path(house: 'lannister') %></p>
  <p><%= link_to "Targaryen", search_path(house: 'targaryen') %></p>
  <p><%= link_to "Tyrell", search_path(house: 'tyrell') %></p>
</div>
