<h1>Select a house to search</h1>

<div class="dropdown-search">
  <p><%= link_to "Stark", search_path(house: 1) %></p>
  <p><%= link_to "Lannister", search_path(house: 2) %></p>
  <p><%= link_to "Targaryen", search_path(house: 3) %></p>
  <p><%= link_to "Tyrell", search_path(house: 4) %></p>
  <p><%= link_to "Greyjoy", search_path(house: 5) %></p>
</div>
